body {
  font-family: Helvetica, sans-serif;
}
main {
  width: 960px;
}
header {
  height: 10px;
  background-color: #444;
}
nav {
  background-color: #444444;
  width: 100%;
  display: block;

}
nav img {
  display: inline-block;
}

nav ul {
  display: inline-block;
  vertical-align: top;
}
nav li {
  color: #aaa;
  line-height: 70px;
  display: inline-block;
  padding: 0 35px;
}

main img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div ul {
  display: inline;
  padding-right: 15px;
  padding-top: 30px;

}
